/* level settings 👇 */

ion-icon{
  position:fixed;
  margin-top: 25%;
  margin-left: 25%;
  width: 20%;
  height: 50px;
  z-index: -1;
}

#valor{
  position: fixed;
  margin-left: 20%;
  z-index: -1;
}
input{
  z-index: 1;
  transform: rotate(-90deg);
}

.slider {
  margin-top: 40%;
  /* slider */
  --slider-width: 73%;
  --slider-height: 60px;
  --slider-bg: rgb(82, 82, 82);
  --slider-border-radius: 999px;
  /* level */
  
  --level-transition-duration: .1s;
  /* icon */
  --icon-color: var(--slider-bg);
  --icon-size: 30px;

}

.slider {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}


.slider .level {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--slider-width);
  height: var(--slider-height);
  background: var(--slider-bg);
  overflow: hidden;
  border-radius: var(--slider-border-radius);
  -webkit-transition: height var(--level-transition-duration);
  -o-transition: height var(--level-transition-duration);
  transition: height var(--level-transition-duration);
  cursor: inherit;
}

.slider .level::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0%;
  height: 0;
  -webkit-box-shadow: -200px 0 0 200px var(--level-color);
  box-shadow: -200px 0 0 200px var(--level-color);
}
